services:
  backend:
    build:
      context: ./api
    ports:
      - "5000:5000"
    volumes:
      - ./api/instance:/app/instance
    environment:
      - FLASK_ENV=production
  
  frontend:
    build:
      context: .
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:5000

volumes:
  db-data:
